.homeimg::before{
    opacity: 0.5;
    background-image: url('src/assets/homeBG.png');
    background-size: "contain";
    background-position: "top 4em center";
    background-repeat: "no-repeat";
    height: "100%",
}