.button-confirm{
    box-sizing: border-box;
    position: relative;

    background: #D9D3CD;
    border: 3px dashed #000000;
    box-shadow: 10px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
    text-align: center;
    align-items: flex-end;
    color: #000000;
}
input,select {
    box-shadow: 5px 5px rgb(195, 184, 184);
    padding: 8px;
  }

  hr{
    border: 1px solid #9F9F9F;
  }

#clipboard{
    box-shadow: 0px 0px 0px 20px #B88655;
}



